.mainNav{
    background-color: #3f51b5;
    font-family: 'Roboto', sans-serif;
    padding:15px;
    font-size: 10px;
    color: #C5CAE9;
    display: flex;
    justify-items: space-around;
}

.menuItem{
    padding-right:40px;
}


.styled-select.slate {

    height: 20px;
    width: 140px;
    /* background-color: antiquewhite; */
 }


 .styled-select select {
    background: transparent;
    border: none;
    font-size: 14px;
    height: 20px;
    padding: 2px; /* If you add too much padding here, the options won't show in IE */
    width: 268px;
    font-family: 'Roboto', sans-serif;
    color: #C5CAE9;
    font-weight: 800;

 }

 .styled-select {
    height: 10px;
    overflow: hidden;
    width: 140px;
 }

 ul{
    padding:0px;
    margin: 0px;
  }
  
  
  li {
    display: block;
    transition-duration: 0.5s;
   }
   
   li:hover {
     cursor: pointer;
   }
   
  ul li{
    position: relative;;
  }
  
   .topicList li {
     top:23px;
     visibility: hidden;
     opacity: 0;
     position: absolute;
     transition: all 0.5s ease;
     margin-top: 1rem;
     left: 0;
     display: none;
     z-index: 500;
     background-color: #19647E;
     /* padding: 0px 10px; */
     width: 100%;
   }
   
   ul li:hover > ul,
   ul li ul:hover {
     visibility: visible;
     opacity: 1;
     display: block;
   }
   
   ul li ul li {
     clear: both;
     width: 100%;
   }
  
   ul li ul li:hover{
    background-color: #28AFB0;
   }