.mainNav {
  background-color: #3f51b5;
  font-family: "Roboto", sans-serif;
  padding: 0px;
  font-size: 10px;
  color: #c5cae9;
  display: flex;
  justify-items: space-around;
  height:45px;
}

.menuItem {
  padding-right: 40px;
  cursor: pointer;
}

.styled-select.slate {
  height: 20px;
  width: 140px;
  /* background-color: antiquewhite; */
}

.styled-select select {
  background: transparent;
  border: none;
  font-size: 14px;
  height: 20px;
  padding: 2px;
  width: 268px;
  font-family: "Roboto", sans-serif;
  color: #c5cae9;
  font-weight: 800;
}

.styled-select {
  height: 10px;
  overflow: hidden;
  width: 140px;
}
a {
  text-decoration: none;
}

nav, #signupbutton button {
  font-family: "Roboto", sans-serif;
  font-size: 12px;
}

nav ul {
  background: #3f51b5;
  list-style: none;
  margin: 0;
  padding-left: 0;
}

nav li {
  /* color: #fff; */
  /* background: darkorange; */
  display: block;
  float: left;
  padding: 15px;
  position: relative;
  text-decoration: none;
  transition-duration: 0.5s;
  width:100px;
}

nav li a {

}

nav li:hover{
  background: darkblue;
  cursor: pointer;
}

nav ul li ul {
  visibility: hidden;
  opacity: 0;
  min-width: 5rem;
  position: absolute;
  transition: all 0.5s ease;
  margin-top: 1rem;
  left: 0;
  display: none;
}

nav ul li:hover > ul,
nav ul li ul:hover {
  visibility: visible;
  opacity: 1;
  display: block;
  /* width:5rem; */
}

nav ul li ul li {
  clear: both;
  width: 100%;
}

.dropdown {
  z-index: 1000000000;
}

#signupbutton{
  margin:0px;
  padding:03px;
  padding-left:10px;
  
}

#signupbutton button{
  cursor: pointer;
  background-color: transparent;
  border:0px;
  width:100px;
  margin:0px;
  padding:0px;
  height:42px;
  font-family: "Roboto", sans-serif;
  color: #c5cae9;
  text-align: left;


}

.menuItem, #navSelect{
  padding:15px;
  font-family: "Roboto", sans-serif;
  font-size: 12px;
}