.mainNav {
  background-color: #3f51b5;
  font-family: "Roboto", sans-serif;
  padding: 0px;
  font-size: 10px;
  color: #c5cae9;
  display: flex;
  justify-items: space-around;
  height:45px;
}

.menuItem {
  padding-right: 40px;
  cursor: pointer;
  box-sizing: border-box;
  text-align: center;
}

.styled-select.slate {
  height: 15px;
  width: 140px;
}

.styled-select select {
  background: transparent;
  border: none;
  font-size: 20px;
  height: 14px;
  padding: 0px;
  width: 168px;
  font-family: "Roboto", sans-serif;
  color: #c5cae9;
  font-weight: 800;
}


select:focus {
  outline:none;
}

.styled-select {
  height: 10px;
  overflow: hidden;
  width: 140px;
}
a {
  text-decoration: none;
}

nav, #signupbutton button {
  font-family: "Roboto", sans-serif;
  font-size: 12px;
}


#signupbutton.menuitem{
  margin-top:70px;
}

nav ul {
  background: #3f51b5;
  list-style: none;
  margin: 0;
  padding-left: 0;
}

nav li {
  display: block;
  float: left;
  padding: 15px;
  position: relative;
  text-decoration: none;
  transition-duration: 0.5s;
  width:100px;
}


nav li:hover{
  background: darkblue;
  cursor: pointer;
}

nav ul li ul {
  visibility: hidden;
  opacity: 0;
  min-width: 10rem;
  position: absolute;
  transition: all 0.5s ease;
  margin-top: 1rem;
  left: 0;
  display: none;
}

nav ul li:hover > ul{
  visibility: visible;
  opacity: 1;
  display: block;
}

nav ul li ul li {
  clear: both;
  width: 100%;
  box-sizing: border-box;
}

.dropdown {
  z-index: 1000;
}

#signupbutton{
  margin:0px;
  padding:03px;
  padding-left:10px;
  padding-bottom:0px;
  padding-top:1px;
  
}

#signupbutton button{
  cursor: pointer;
  background-color: transparent;
  border:0px;
  width:100px;
  margin:0px;
  padding:0px;
  height:42px;
  font-family: "Roboto", sans-serif;
  color: #c5cae9;
  text-align: left;


}

.menuItem, #navSelect{
  font-family: "Roboto", sans-serif;
  font-size: 12px;
}

#navSelect{
  font-weight: 300;
padding:0px;
margin-top:0px;

}