.topicheader {
    text-align: center;
    width: 100%;
    background-color: olive;
    padding: 5px 0px;
    border: 1px solid transparent;
    box-sizing: border-box;  

  }


 a .topicheader:hover{
border-radius:5px;
border: 1px solid black;
transition:0.2s;
}

