.voteControl{
    display:flex;
    /* background-color: aqua; */
    /* width:30px; */
}

.voteImg{
    /* background-color: bisque;
    background-image: url(/images/thumb-down-button.svg);
    background-size: 20px 20px; */
    width: 40px;
    height:40px;
    padding:5px 10px;
    /* background: no-repeat; */
    border-width:0px;
    background-color: transparent;
    border-radius:50%;
    cursor:pointer;
}

.voteImg:hover{
background-color: #E8E8E8;
transition:0.2s;
}

.articleInteractive p {
    text-align: justify;
    margin:5px;
    /* line-height:15px; */
  }